# Lecture 3 - Pandas - Pivot table

## Assignment 1

#### drinks.csv là tập tin cung cấp dữ liệu về tình hình tiêu thụ rượu bia ở các quốc gia theo từng châu lục

country: tên quốc gia tiêu thụ<br/>
beer_servings: số lượng bia tiêu thụ<br/>
spirit_servings: số lượng rượu mạnh (>= 40<sup>0</sup>)<br/>
wine_servings: số lượng rượu vang<br/>
total_litres_of_pure_alcohol: tổng số lít rượu nguyên chất<br/>
continent: châu lục

#### Thực hiện các yêu cầu sau, và đối chiếu với kết quả cho trước:

In [1]:
import pandas as pd

In [2]:
# Câu 1: Đọc dữ liệu từ tập tin drinks.csv với index_col là cột đầu tiên của dữ liệu, và lưu vào biến drink. 
drink = pd.read_csv('drinks.csv', index_col=0)
# Cho biết kiểu dữ liệu (type) của drink

print(type(drink))

# Cho biết ra kích thước (shape) của drink 
print(drink.shape)

# Hiển thị tên các cột (columns) của drink
print(drink.columns)

# Xem 5 dòng dữ liệu đầu tiên (head) của drink
print(drink.head(5))

<class 'pandas.core.frame.DataFrame'>
(193, 6)
Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')
       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent
0                           0.0        AS
1                           4.9        EU
2                           0.7        AF
3                          12.4        EU
4                           5.9        AF

In [3]:
# Câu 2: Xác định số lượng giao dịch theo từng châu lục (continent) bằng Groupby
transaction_by_continent = drink.groupby('continent').size()
print(transaction_by_continent)

continent
AF    53
AS    44
EU    45
OC    16
SA    12
dtype: int64

In [4]:
# Câu 3: 
# - Xác định bao nhiêu thuộc tính có giá trị NULL và số lượng giá trị NULL tương ứng với từng thuộc tính 
null_counts = drink.isnull().sum()
num_null_attributes = null_counts[null_counts > 0].count()

print("Số lượng thuộc tính có giá trị NULL: ", num_null_attributes)

# - Nếu có giá trị NULL liệt kê chi tiết từng giao dịch của mỗi thuộc tính
print("Số lượng giá trị NULL tương ứng với từng thuộc tính:")
print(null_counts[null_counts > 0])

Số lượng thuộc tính có giá trị NULL:  1
Số lượng giá trị NULL tương ứng với từng thuộc tính:
continent    23
dtype: int64

In [5]:
# Câu 4: Cho biết số lượng bia tiêu thụ trung bình ở mỗi châu lục
trungbinh_bia_chauluc = drink.groupby('continent')['beer_servings'].mean()
print(trungbinh_bia_chauluc)

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

In [6]:
# Câu 5: Lập danh sách số lượng bia tiêu thụ giảm dần theo châu lục
bia_giam_dan = drink.groupby('continent')['beer_servings'].sum()
sorted_beer_consumption = bia_giam_dan.sort_values(ascending=False)
print(sorted_beer_consumption)

continent
EU    8720
AF    3258
SA    2101
AS    1630
OC    1435
Name: beer_servings, dtype: int64

In [7]:
# Câu 6: Cho biết thông tin thống kê tổng quát về số lượng rượu vang được tiêu thụ ở mỗi châu lục 
wine_stats_by_continent = drink.groupby('continent')['wine_servings'].describe().reset_index()
print(wine_stats_by_continent)

  continent  count        mean        std  min   25%    50%     75%    max
0        AF   53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
1        AS   44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
2        EU   45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
3        OC   16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
4        SA   12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [8]:
# Câu 7: Cho biết thông tin thống kê tổng quát về số lượng bia và rượu mạnh. Chú ý bố trí trong cùng một bảng dữ liệu.
thong_ke_tq = drink[['beer_servings', 'spirit_servings']].describe()
print(thong_ke_tq)

       beer_servings  spirit_servings
count     193.000000       193.000000
mean      106.160622        80.994819
std       101.143103        88.284312
min         0.000000         0.000000
25%        20.000000         4.000000
50%        76.000000        56.000000
75%       188.000000       128.000000
max       376.000000       438.000000

In [9]:
# Câu 8: Cho biết giá trị trung vị (median) của các loại bia và rượu tiêu thụ ở mỗi châu lục
beer_median_by_continent = drink.groupby('continent')['beer_servings'].median()
spirit_median_by_continent = drink.groupby('continent')['spirit_servings'].median()

print("Giá trị trung vị của các loại bia tiêu thụ ở mỗi châu lục:")
print(beer_median_by_continent)
print("\n")
print("Giá trị trung vị của các loại rượu tiêu thụ ở mỗi châu lục:")
print(spirit_median_by_continent)

Giá trị trung vị của các loại bia tiêu thụ ở mỗi châu lục:
continent
AF     32.0
AS     17.5
EU    219.0
OC     52.5
SA    162.5
Name: beer_servings, dtype: float64


Giá trị trung vị của các loại rượu tiêu thụ ở mỗi châu lục:
continent
AF      3.0
AS     16.0
EU    122.0
OC     37.0
SA    108.5
Name: spirit_servings, dtype: float64

In [10]:
# Câu 9: Cho biết giá trị trung bình,trung vị,lớn nhất về số lượng bia tiêu thụ ở mỗi châu lục
beer_stats_by_continent = drink.groupby('continent')['beer_servings'].agg(['mean', 'median', 'max'])
print(beer_stats_by_continent)

                 mean  median  max
continent
AF          61.471698    32.0  376
AS          37.045455    17.5  247
EU         193.777778   219.0  361
OC          89.687500    52.5  306
SA         175.083333   162.5  333

In [11]:
# Câu 10: Sắp xếp dữ liệu tăng dần theo số lượng bia tiêu thụ lớn hơn 300
beer_greater_than_300 = drink[drink['beer_servings'] > 300]
sorted_beer_greater_than_300 = beer_greater_than_300.sort_values('beer_servings')
print(sorted_beer_greater_than_300)

            country  beer_servings  spirit_servings  wine_servings  \
129           Palau            306               63             23
81          Ireland            313              118            165
188       Venezuela            333              100              3
98        Lithuania            343              244             56
135          Poland            343              215             56
65          Germany            346              117            175
62            Gabon            347               98             59
45   Czech Republic            361              170            134
117         Namibia            376                3              1

     total_litres_of_pure_alcohol continent
129                           6.9        OC
81                           11.4        EU
188                           7.7        SA
98                           12.9        EU
135                          10.9        EU
65                           11.3        EU
62                            8.9        AF
45                           11.8        EU
117                           6.8        AF

In [12]:
# Câu 11: Liệt kê danh sách quốc gia theo châu lục
country_list_by_continent = drink.groupby('continent')['country'].apply(list)
print(country_list_by_continent)

continent
AF    [Algeria, Angola, Benin, Botswana, Burkina Fas...
AS    [Afghanistan, Bahrain, Bangladesh, Bhutan, Bru...
EU    [Albania, Andorra, Armenia, Austria, Azerbaija...
OC    [Australia, Cook Islands, Fiji, Kiribati, Mars...
SA    [Argentina, Bolivia, Brazil, Chile, Colombia, ...
Name: country, dtype: object

In [13]:
# Câu 12: Cho biết 5 quốc gia có lượng tiêu thụ bia lớn nhất
top_countries = drink.nlargest(5, 'beer_servings')

print(top_countries[['country', 'beer_servings']])

            country  beer_servings
117         Namibia            376
45   Czech Republic            361
62            Gabon            347
65          Germany            346
98        Lithuania            343

## Assignment 2 - Pivot table

### About Dataset - sup.csv
### Context
#### The growth of supermarkets in most populated cities are increasing and market competitions are also high. The dataset is one of the historical sales of supermarket company which has recorded in 3 different branches for 3 months data. 

#### Attribute information
- Invoice id: Computer generated sales slip invoice identification number
- Branch: Branch of supercenter (3 branches are available identified by A, B and C).
- City: Location of supercenters
- Customer type: Type of customers, recorded by Members for customers using member card and Normal for without member card.
- Gender: Gender type of customer
- Product line: General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel
- Unit price: Price of each product in $
- Quantity: Number of products purchased by customer
- Sales: Unit price * Quantity
- Tax: 5% tax fee for customer buying
- Total: Total price including tax
- Date: Date of purchase (Record available from January 2019 to March 2019)
- Time: Purchase time (10am to 9pm)
- Payment: Payment used by customer for purchase (3 methods are available – Cash, Credit card and Ewallet)
- COGS: Cost of goods sold
- Gross margin percentage: Gross margin percentage
- Gross income: Gross income
- Rating: Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)

In [14]:
import numpy as np
import pandas as pd

In [15]:
# Read file sup.csv
# Đọc tập tin sup.csv
data = pd.read_csv('sup.csv')
# Câu 1: Xác định số lượng tiêu thụ theo sản phẩm (Product line)
# product_line_counts = data['Product line'].value_counts()
# print(product_line_counts)
pivot1 = pd.pivot_table(data,values='Quantity',index=data['Product line'],aggfunc=sum)
pivot1

# pivot2 = pd.crosstab(data['Product line'],data['Quantity'])
# pivot2

                        Quantity
Product line
Electronic accessories       971
Fashion accessories          902
Food and beverages           952
Health and beauty            854
Home and lifestyle           911
Sports and travel            920

In [20]:
# Câu 2: Xác định doanh số bán theo thành phố cho từng loại sản phẩm
# sales_by_city_product = data.groupby(['City', 'Product line']).size().reset_index(name='Sales')
# print(sales_by_city_product)

pivot2 = pd.pivot_table(data, values='Sales', index='City', columns='Product line', aggfunc=sum)
print(pivot2)

Product line  Electronic accessories  Fashion accessories  Food and beverages  \
City
Mandalay                    16239.47             15631.73            14490.37
Naypyitaw                   18065.69             20533.40            22635.10
Yangon                      17444.87             15554.77            16345.81

Product line  Health and beauty  Home and lifestyle  Sports and travel
City
Mandalay               19029.20            16713.49           19036.38
Naypyitaw              15824.12            13233.86           15011.36
Yangon                 11997.86            21349.71           18450.19

In [17]:
# Câu 3: Xác định doanh số bán theo tháng và chỉ liệt kê các doanh số bán >=305
# Chuyển đổi cột 'Date' thành kiểu dữ liệu datetime
data['Date'] = pd.to_datetime(data['Date'])

# Tạo cột 'Month' từ cột 'Date' để lấy thông tin về tháng
data['Month'] = data['Date'].dt.month

# Xác định doanh số bán theo tháng và chỉ liệt kê các doanh số bán >=305
sales_by_month = data.groupby('Month')['Total'].sum().reset_index(name='Sales')
sales_by_month = sales_by_month[sales_by_month['Sales'] >= 305]
print(sales_by_month)

   Month       Sales
0      1  116291.868
1      2   97219.374
2      3  109455.507

In [18]:
# Câu 4:Tìm hình thức thanh toán phổ biến nhất ở thành phố Yangon
# Lọc dữ liệu chỉ cho thành phố Yangon
yangon_data = data[data['City'] == 'Yangon']

# Đếm số lượng giao dịch cho từng hình thức thanh toán
payment_counts = yangon_data['Payment'].value_counts()

# Lấy hình thức thanh toán phổ biến nhất
most_common_payment = payment_counts.idxmax()

print("Hình thức thanh toán phổ biến nhất ở thành phố Yangon là:", most_common_payment)

Hình thức thanh toán phổ biến nhất ở thành phố Yangon là: Ewallet

In [19]:
# Câu 5: Xác định số lượng giao dịch tiền mặt ở mỗi thành phố.
cash_transactions_by_city = data[data['Payment'] == 'Cash']['City'].value_counts()
print(cash_transactions_by_city)

Naypyitaw    124
Mandalay     110
Yangon       110
Name: City, dtype: int64