In [1]:
import numpy as np
import pandas as pd 
import matplotlib as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel('Diemthi_thpt_quocgia_2016.xlsx')

In [3]:
df.shape

(34826, 6)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34826 entries, 0 to 34825
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SOBAODANH   34826 non-null  object
 1   HO_TEN      34826 non-null  object
 2   NGAY_SINH   34826 non-null  object
 3   TEN_CUMTHI  34826 non-null  object
 4   GIOI_TINH   34826 non-null  object
 5   DIEM_THI    34826 non-null  object
dtypes: object(6)
memory usage: 1.6+ MB

In [5]:
df.describe()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI
count,34826,34826,34826,34826,34826,34826
unique,34826,23763,2040,4,2,33945
top,018000001,NGUYỄN THỊ HẰNG,01/01/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Ngữ văn: 6.00
freq,1,58,225,14410,17833,5

In [6]:
df.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...

In [7]:
df.isnull().sum()

SOBAODANH     0
HO_TEN        0
NGAY_SINH     0
TEN_CUMTHI    0
GIOI_TINH     0
DIEM_THI      0
dtype: int64

## Sử dụng kỹ thuật tách chuỗi split()

In [8]:
diemthi = df.loc[0,'DIEM_THI']
diemthi

'Toán:   2.00   Ngữ văn:   5.50   Lịch sử:   3.00   Địa lí:   5.00'

In [9]:
lstdiemthi = diemthi.replace(':','').split('   ')
lstdiemthi

['Toán', '2.00', 'Ngữ văn', '5.50', 'Lịch sử', '3.00', 'Địa lí', '5.00']

In [10]:
vitrimon = lstdiemthi.index('Ngữ văn')
diem = lstdiemthi[vitrimon + 1]
diem

'5.50'

In [11]:
def lay_diem_thi_theo_mon(tenmon, lstdiem):
    if tenmon in lstdiem:
        # tên môn có trong danh sách thí sinh dự thi
        vitrimon = lstdiem.index(tenmon)
        diem = lstdiem[vitrimon + 1]
        return round(float(diem),2)
    else:
        # Tên môn không có trong danh sách điểm mà thí sinh dự thi
        return np.nan

In [12]:
lay_diem_thi_theo_mon('Lịch sử',lstdiemthi)

3.0

In [13]:
lst_mon = ['Toán','Ngữ văn','Lịch sử','Địa lí','Tiếng anh','Sinh học','Vật lí','Hóa học']

In [14]:
df['DIEM_THI_List'] = df['DIEM_THI'].str.replace(':','').str.split('   ')

In [15]:
df['DIEM_THI_List2'] = df['DIEM_THI'].apply(lambda x: x.replace(':','').split('   '))
df.loc[0,'DIEM_THI_List2']

['Toán', '2.00', 'Ngữ văn', '5.50', 'Lịch sử', '3.00', 'Địa lí', '5.00']

In [16]:
df.loc[0,'DIEM_THI_List']

['Toán', '2.00', 'Ngữ văn', '5.50', 'Lịch sử', '3.00', 'Địa lí', '5.00']

In [17]:
for mon in lst_mon:
    df[mon] = df['DIEM_THI_List'].apply(lambda x: lay_diem_thi_theo_mon(mon,x))

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34826 entries, 0 to 34825
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SOBAODANH       34826 non-null  object
 1   HO_TEN          34826 non-null  object
 2   NGAY_SINH       34826 non-null  object
 3   TEN_CUMTHI      34826 non-null  object
 4   GIOI_TINH       34826 non-null  object
 5   DIEM_THI        34826 non-null  object
 6   DIEM_THI_List   34826 non-null  object
 7   DIEM_THI_List2  34826 non-null  object
 8   Toán            34500 non-null  float64
 9   Ngữ văn         33894 non-null  float64
 10  Lịch sử         3235 non-null   float64
 11  Địa lí          22171 non-null  float64
 12  Tiếng anh       0 non-null      float64
 13  Sinh học        3571 non-null   float64
 14  Vật lí          10157 non-null  float64
 15  Hóa học         8097 non-null   float64
dtypes: float64(8), object(8)
memory usage: 4.3+ MB

In [19]:
df.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI,DIEM_THI_List,DIEM_THI_List2,Toán,Ngữ văn,Lịch sử,Địa lí,Tiếng anh,Sinh học,Vật lí,Hóa học
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....,"[Toán, 2.00, Ngữ văn, 5.50, Lịch sử, 3.00, Địa...","[Toán, 2.00, Ngữ văn, 5.50, Lịch sử, 3.00, Địa...",2.00,5.50,3.0,5.00,NaN,NaN,NaN,NaN
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...,"[Toán, 5.50, Ngữ văn, 5.25, Địa lí, 5.50, Tiến...","[Toán, 5.50, Ngữ văn, 5.25, Địa lí, 5.50, Tiến...",5.50,5.25,NaN,5.50,NaN,NaN,NaN,NaN
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...,"[Toán, 4.50, Ngữ văn, 5.50, Địa lí, 3.75, Tiến...","[Toán, 4.50, Ngữ văn, 5.50, Địa lí, 3.75, Tiến...",4.50,5.50,NaN,3.75,NaN,NaN,NaN,NaN
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...,"[Toán, 3.00, Ngữ văn, 6.00, Địa lí, 5.50, Tiến...","[Toán, 3.00, Ngữ văn, 6.00, Địa lí, 5.50, Tiến...",3.00,6.00,NaN,5.50,NaN,NaN,NaN,NaN
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...,"[Toán, 2.25, Ngữ văn, 4.75, Địa lí, 5.25, Tiến...","[Toán, 2.25, Ngữ văn, 4.75, Địa lí, 5.25, Tiến...",2.25,4.75,NaN,5.25,NaN,NaN,NaN,NaN

## Sử dụng Regular Expression

In [20]:
import re

In [21]:
df2 = pd.read_excel('Diemthi_thpt_quocgia_2016.xlsx')
lst_mon = ['Toán', 'Ngữ văn', 'Địa lí', 'Lịch sử', 'Tiếng Anh', 'Sinh học', 'Vật lí', 'Hóa học']

In [22]:
#Toán:   2.00   Ngữ văn:   5.50   Lịch sử:   3.00   Địa lí:   5.00
#Pattern có dạng tenmon:   diem, ví dụ:Toán:   2.00 ---> Toán:\s\s\s\d+\.\d{2} hoặc Toán:\s{3}\d+\.\d{2}

In [23]:
#for tenmon in lst_mon:
    #df2[tenmon] = df2['DIEM_THI'].str.extract('(' + tenmon + ':\s{3}\d+.\d{2})', expand = True)[0].str.split(":   ", expand=True)[1]

In [33]:
for ten_mon in lst_mon:
    df2[ten_mon] = df2['DIEM_THI'].str.extract('('+ ten_mon + ':\s\s\s\d+\.\d{2})', expand=True)[0].str.split(":   ", expand =True)[1]

In [34]:
df2.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI,Toán,Ngữ văn,Địa lí,Lịch sử,Tiếng Anh,Sinh học,Vật lí,Hóa học
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....,2.00,5.50,5.00,3.00,NaN,NaN,NaN,NaN
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...,5.50,5.25,5.50,NaN,3.68,NaN,NaN,NaN
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...,4.50,5.50,3.75,NaN,2.25,NaN,NaN,NaN
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...,3.00,6.00,5.50,NaN,1.50,NaN,NaN,NaN
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...,2.25,4.75,5.25,NaN,2.00,NaN,NaN,NaN