# Đọc từ nhiều file

In [2]:
import numpy as np
import pandas as pd

In [ ]:
# đọc 3 file: ds_1.csv, ds_02.csv, ds3.csv trong thư mục MACHINELEARNING_LDS6

In [3]:
import glob as gl

In [8]:
list_files = gl.glob("ds*.csv")
list_files

['ds3.csv', 'ds_02.csv', 'ds_1.csv']

In [9]:
list_files

['ds3.csv', 'ds_02.csv', 'ds_1.csv']

In [11]:
lst_data = []
for file in list_files:
    df_temp = pd.read_csv(file)
    lst_data.append(df_temp)
df_all = pd.concat(lst_data, ignore_index=True)
df_all

  Hoten  Dienthoai
0   ltd     666555
1   nvc     444555
2   nva     111222
3   nvb     222333

In [13]:
df_all.describe()

           Dienthoai
count       4.000000
mean   361166.250000
std    246280.850295
min    111222.000000
25%    194555.250000
50%    333444.000000
75%    500055.000000
max    666555.000000