In [4]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('ds_nhanvien.csv')
df.head()

  Hoten Gioitinh   Vitri   Noisinh
0   NVA      Nam   first    Tp.HCM
1  LTVB       Nu   third  Dong Nai
2   NVC      Nam  second   Long An

In [19]:
# Mã hóa OnehotEncoder chuyển đổi giá trị chữ thành cột mã nhị phân
from sklearn.preprocessing import OneHotEncoder
# Khởi tạo
encoder = OneHotEncoder()
arr = encoder.fit_transform(df[['Noisinh']]).toarray()
# Tên các cột column
encoder.categories_[0]
df_temp = pd.DataFrame(arr,columns=['K_' + i for i in encoder.categories_[0]])
df_temp.head()

   K_Dong Nai  K_Long An  K_Tp.HCM
0         0.0        0.0       1.0
1         1.0        0.0       0.0
2         0.0        1.0       0.0

In [20]:
df_new = pd.concat([df,df_temp],axis=1)
df_new.head()

  Hoten Gioitinh   Vitri   Noisinh  K_Dong Nai  K_Long An  K_Tp.HCM
0   NVA      Nam   first    Tp.HCM         0.0        0.0       1.0
1  LTVB       Nu   third  Dong Nai         1.0        0.0       0.0
2   NVC      Nam  second   Long An         0.0        1.0       0.0

In [22]:
# Chuyển đổi lại
df_new['Noisinh_decode'] = encoder.inverse_transform(df_new[['K_Dong Nai','K_Long An','K_Tp.HCM']])
df_new.head()

,Hoten,Gioitinh,Vitri,Noisinh,K_Dong Nai,K_Long An,K_Tp.HCM,Noisinh_decode
0,NVA,Nam,first,Tp.HCM,0.0,0.0,1.0,Tp.HCM
1,LTVB,Nu,third,Dong Nai,1.0,0.0,0.0,Dong Nai
2,NVC,Nam,second,Long An,0.0,1.0,0.0,Long An

In [23]:
# encoder có sử dụng drop

In [24]:
encoder2 = OneHotEncoder(drop='first')

In [25]:
arr2 = encoder2.fit_transform(df[['Noisinh']]).toarray()

In [26]:
arr2

array([[0., 1.],
       [0., 0.],
       [1., 0.]])

In [27]:
df_temp3 = pd.DataFrame(arr2, columns=['N_' + i for i in encoder2.categories_[0][1:]])
df_temp3

   N_Long An  N_Tp.HCM
0        0.0       1.0
1        0.0       0.0
2        1.0       0.0

In [28]:
df_new3 = pd.concat([df, df_temp3], axis=1)
df_new3

  Hoten Gioitinh   Vitri   Noisinh  N_Long An  N_Tp.HCM
0   NVA      Nam   first    Tp.HCM        0.0       1.0
1  LTVB       Nu   third  Dong Nai        0.0       0.0
2   NVC      Nam  second   Long An        1.0       0.0

In [29]:
df_new3['Noisinh_decode'] = encoder2.inverse_transform(df_new3[['N_Long An', 'N_Tp.HCM']])