In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Combined_DS_v10.csv')
df.head()

,SurveyDate,FormalEducation,ConvertedSalary,Hobby,Country,StackOverflowJobsRecommend,VersionControl,Age,Years Experience,Gender,RawSalary
0,2/28/18 20:20,Bachelor's degree (BA. BS. B.Eng.. etc.),NaN,Yes,South Africa,NaN,Git,21,13,Male,NaN
1,6/28/18 13:26,Bachelor's degree (BA. BS. B.Eng.. etc.),70841.0,Yes,Sweeden,7.0,Git;Subversion,38,9,Male,"70,841.00"
2,6/6/18 3:37,Bachelor's degree (BA. BS. B.Eng.. etc.),NaN,No,Sweeden,8.0,Git,45,11,NaN,NaN
3,5/9/18 1:06,Some college/university study without earning ...,21426.0,Yes,Sweeden,NaN,Zip file back-ups,46,12,Male,"21,426.00"
4,4/12/18 22:41,Bachelor's degree (BA. BS. B.Eng.. etc.),41671.0,Yes,UK,8.0,Git,39,7,Male,"£41,671.00"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   SurveyDate                  999 non-null    object
 1   FormalEducation             999 non-null    object
 2   ConvertedSalary             665 non-null    float64
 3   Hobby                       999 non-null    object
 4   Country                     999 non-null    object
 5   StackOverflowJobsRecommend  487 non-null    float64
 6   VersionControl              999 non-null    object
 7   Age                         999 non-null    int64
 8   Years Experience            999 non-null    int64
 9   Gender                      693 non-null    object
 10  RawSalary                   665 non-null    object
dtypes: float64(2), int64(2), object(7)
memory usage: 86.0+ KB

In [5]:
# Lấy ra những cột loại dữ liệu là float và int
df1 = df.select_dtypes(include=['float','int'])
df1.columns

Index(['ConvertedSalary', 'StackOverflowJobsRecommend', 'Age',
       'Years Experience'],
      dtype='object')

In [6]:
df2 = df.select_dtypes(exclude='object')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ConvertedSalary             665 non-null    float64
 1   StackOverflowJobsRecommend  487 non-null    float64
 2   Age                         999 non-null    int64
 3   Years Experience            999 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 31.3 KB