In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ds_nhanvien.csv')
df.head()

  Hoten Gioitinh   Vitri   Noisinh
0   NVA      Nam   first    Tp.HCM
1  LTVB       Nu   third  Dong Nai
2   NVC      Nam  second   Long An

In [5]:
df_new = pd.get_dummies(data=df,columns=['Noisinh'],prefix='VN_')
df_new.head()

  Hoten Gioitinh   Vitri  VN__Dong Nai  VN__Long An  VN__Tp.HCM
0   NVA      Nam   first             0            0           1
1  LTVB       Nu   third             1            0           0
2   NVC      Nam  second             0            1           0

In [6]:
df_new2 = pd.get_dummies(data=df, columns=['Gioitinh', 'Noisinh'], prefix='d')

In [7]:
df_new3 = pd.get_dummies(data=df, columns=['Gioitinh', 'Noisinh'], prefix='d', drop_first=True)