In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({'Cap_bac_cong_viec':['Quản lý','Trưởng nhóm','Nhân viên','Mới ra trường'],
                   'Luong_trung_binh':['20.000.000 VNĐ', '15.000.000đ', '12.000.000 vnđ', '7.000.000 vnĐ']})
df

  Cap_bac_cong_viec Luong_trung_binh
0           Quản lý   20.000.000 VNĐ
1       Trưởng nhóm      15.000.000đ
2         Nhân viên   12.000.000 vnđ
3     Mới ra trường    7.000.000 vnĐ

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Cap_bac_cong_viec  4 non-null      object
 1   Luong_trung_binh   4 non-null      object
dtypes: object(2)
memory usage: 196.0+ bytes

In [11]:
df['Luong_trung_binh_num'] = df['Luong_trung_binh'].str.lower()
df['Luong_trung_binh_num'] = df['Luong_trung_binh_num'].str.replace(' vnđ','')
df['Luong_trung_binh_num'] = df['Luong_trung_binh_num'].str.replace('đ','')
df['Luong_trung_binh_num'] = df['Luong_trung_binh_num'].str.replace('.','')
df['Luong_trung_binh_num'] = df['Luong_trung_binh_num'].astype(float)

C:\Users\NK\AppData\Local\Temp\ipykernel_5864\1437871008.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Luong_trung_binh_num'] = df['Luong_trung_binh_num'].str.replace('.','')

In [15]:
df.head()

  Cap_bac_cong_viec Luong_trung_binh  Luong_trung_binh_num
0           Quản lý   20.000.000 VNĐ            20000000.0
1       Trưởng nhóm      15.000.000đ            15000000.0
2         Nhân viên   12.000.000 vnđ            12000000.0
3     Mới ra trường    7.000.000 vnĐ             7000000.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Cap_bac_cong_viec     4 non-null      object
 1   Luong_trung_binh      4 non-null      object
 2   Luong_trung_binh_num  4 non-null      float64
dtypes: float64(1), object(2)
memory usage: 228.0+ bytes

In [16]:
def xu_ly_luong(luong):
    luong = luong.lower()
    luong = luong.replace(' vnđ','')
    luong = luong.replace('đ','')
    luong = luong.replace('.','')
    return float(luong)

In [17]:
xu_ly_luong('20.000.000 VNĐ')

20000000.0

In [20]:
df['Luong_trung_binh_num2'] = df['Luong_trung_binh'].apply(xu_ly_luong)
df['Luong_trung_binh_num3'] = df['Luong_trung_binh'].apply(lambda x: xu_ly_luong(x))

In [21]:
df.head()

,Cap_bac_cong_viec,Luong_trung_binh,Luong_trung_binh_num,Luong_trung_binh_num2,Luong_trung_binh_num3
0,Quản lý,20.000.000 VNĐ,20000000.0,20000000.0,20000000.0
1,Trưởng nhóm,15.000.000đ,15000000.0,15000000.0,15000000.0
2,Nhân viên,12.000.000 vnđ,12000000.0,12000000.0,12000000.0
3,Mới ra trường,7.000.000 vnĐ,7000000.0,7000000.0,7000000.0