In [18]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import datetime as dt

In [19]:
#data = pd.read_csv('wrangled_transactions.csv')
data = pd.read_csv('retail_transactions.csv')
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,546729,22775,PURPLE DRAWERKNOB ACRYLIC EDWARDIAN,12,2011-03-16 11:36:00,1.25,18231.0,United Kingdom
1,559898,21868,POTTING SHED TEA MUG,6,2011-07-13 12:18:00,1.25,16225.0,United Kingdom
2,548648,71459,HANGING JAM JAR T-LIGHT HOLDER,24,2011-04-01 13:20:00,0.85,12949.0,United Kingdom
3,540543,22173,METAL 4 HOOK HANGER FRENCH CHATEAU,4,2011-01-09 15:23:00,2.95,14395.0,United Kingdom
4,561390,20726,LUNCH BAG WOODLAND,10,2011-07-27 09:52:00,1.65,17068.0,United Kingdom

In [22]:
data['Year'] = pd.to_datetime(data['InvoiceDate'])
data['Year'] = data['Year'].dt.year

0         2011
1         2011
2         2011
3         2011
4         2011
          ...
397879    2011
397880    2011
397881    2010
397882    2011
397883    2011
Name: Year, Length: 397884, dtype: int64

In [32]:
data['Year'].unique()

array([2011, 2010], dtype=int64)

In [23]:
data['2010_revenue'] = data[data['Year'] == 2010]['Quantity'] * data[data['Year'] == 2010]['UnitPrice']
print(data['2010_revenue'])

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
397879    NaN
397880    NaN
397881    3.3
397882    NaN
397883    NaN
Name: 2010_revenue, Length: 397884, dtype: float64

In [31]:
data['2011_revenue'] = data[data['Year'] == 2011]['Quantity'] * data[data['Year'] == 2011]['UnitPrice']
data['2011_revenue']

0         15.00
1          7.50
2         20.40
3         11.80
4         16.50
          ...
397879    13.92
397880    13.20
397881      NaN
397882    11.70
397883     2.10
Name: 2011_revenue, Length: 397884, dtype: float64

In [65]:
data['day_since_last_purchase_2010'] = (pd.to_datetime('2010-12-31') - pd.to_datetime(data[data['Year'] == 2010]['InvoiceDate'])).dt.days
data['day_since_last_purchase_2010']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
397879     NaN
397880     NaN
397881    29.0
397882     NaN
397883     NaN
Name: day_since_last_purchase, Length: 397884, dtype: float64

In [66]:
data['day_since_last_purchase_2011'] = (pd.to_datetime('2011-12-31') - pd.to_datetime(data[data['Year'] == 2011]['InvoiceDate'])).dt.days
data['day_since_last_purchase_2011']

0         289.0
1         170.0
2         273.0
3         355.0
4         156.0
          ...
397879    101.0
397880    276.0
397881      NaN
397882    194.0
397883    182.0
Name: day_since_last_purchase_2011, Length: 397884, dtype: float64