# Bài thực hành 3: Series và Data Frame

## Assignment 1: Series

In [35]:
# Câu 1.1: Tạo series ser1 có 35 phần tử số nguyên ngẫu nhiên có giá trị trong khoảng từ 1 đến 9. 
import numpy as np
import pandas as pd
ser = np.random.randint(1, 10, size=35)
ser1 = pd.Series(ser)
# print(ser6)
print(ser1)
# Cho biết kích thước (shape) của ser6
print('kích thước', ser1.shape)
# Xem 5 dòng dữ liệu đầu tiên (head) và 5 dòng dữ liệu cuối cùng (tail) có trong ser6
print(ser1.head(5))
print(ser1.tail(5))

0     1
1     6
2     8
3     2
4     9
5     5
6     9
7     9
8     7
9     2
10    7
11    7
12    6
13    7
14    2
15    9
16    7
17    7
18    9
19    6
20    1
21    3
22    4
23    2
24    4
25    1
26    7
27    3
28    9
29    1
30    3
31    5
32    7
33    6
34    1
dtype: int32
kích thước (35,)
0    1
1    6
2    8
3    2
4    9
dtype: int32
30    3
31    5
32    7
33    6
34    1
dtype: int32

In [36]:
# Xem 5 dòng dữ liệu đầu tiên (head) và 5 dòng dữ liệu cuối cùng (tail) có trong ser6
print(ser1.head(5))
print(ser1.tail(5))

0    1
1    6
2    8
3    2
4    9
dtype: int32
30    3
31    5
32    7
33    6
34    1
dtype: int32

In [37]:
# Câu 1.2: In danh sách các giá trị của series ser1 
print('Danh sách các giá trị của series ser1\n',ser1.tolist())

Danh sách các giá trị của series ser1
 [1, 6, 8, 2, 9, 5, 9, 9, 7, 2, 7, 7, 6, 7, 2, 9, 7, 7, 9, 6, 1, 3, 4, 2, 4, 1, 7, 3, 9, 1, 3, 5, 7, 6, 1]

In [38]:
# Câu 1.3: Cho biết thông tin thống kê chung của Series ser1
print(ser1.info())

<class 'pandas.core.series.Series'>
RangeIndex: 35 entries, 0 to 34
Series name: None
Non-Null Count  Dtype
--------------  -----
35 non-null     int32
dtypes: int32(1)
memory usage: 272.0 bytes
None

In [39]:
# Câu 1.4: Cho biết phần tử có tần suất xuất hiện nhiều nhất trong Series ser1
print(ser1.mode())

0    7
dtype: int32

In [40]:
# Câu 1.5:  Liệt kê các giá trị vừa chia hết cho 3 ở Series ser 1 
print(ser1[ser1 % 3 == 0])

1     6
4     9
6     9
7     9
12    6
15    9
18    9
19    6
21    3
27    3
28    9
30    3
33    6
dtype: int32

## Assignment 2: Pandas

Câu 2.1: Cho bảng dữ liệu như sau:
<img src="data.png" width="200px">

In [41]:
# Trả lời câu 2.1:
# Tạo DataFrame với tên df theo bảng dữ liệu ở câu 1 bằng cách dựa vào Dictionary và list labels.
import pandas as pd
# Tạo dictionary
data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael'],
    'score': [6.0, 9.0, 7.0, 10.0, 6.0, 4.0],
    'attempts': [1, 3, 2, 3, 2, 3],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes']
}

# Tạo list labels
lst_labels = ['a', 'b', 'c', 'd', 'e', 'f']

# Tạo DataFrame
df = pd.DataFrame(data, index=lst_labels)
print(df)
# Cho list labels như sau:
lst_labels = ['a', 'b', 'c', 'd', 'e', 'f']

        name  score  attempts qualify
a  Anastasia    6.0         1     yes
b       Dima    9.0         3      no
c  Katherine    7.0         2     yes
d      James   10.0         3      no
e      Emily    6.0         2      no
f    Michael    4.0         3     yes

In [42]:
# Xem kiểu dữ liệu của tất cả thuộc tính ở dataframe df
print(df.dtypes)

name         object
score       float64
attempts      int64
qualify      object
dtype: object

In [43]:
# Câu 2.2: Tạo dataframe df1 từ df, chỉ chứa 2 cột là name và score
# Tạo df1 từ df
df1 = df[['name', 'score']]

# Xem kiểu dữ liệu của df1
print(df1.dtypes)

# Xem kích thước của df1
print(df1.shape)

# Hiển thị các dòng dữ liệu đầu tiên của df1
print(df1.head())

name      object
score    float64
dtype: object
(6, 2)
        name  score
a  Anastasia    6.0
b       Dima    9.0
c  Katherine    7.0
d      James   10.0
e      Emily    6.0

In [44]:
# Câu 2.3: Hiển thị thông tin thống kê chung của tất cả các thuộc tính của dataframe df
print(df.describe())

          score  attempts
count   6.00000  6.000000
mean    7.00000  2.333333
std     2.19089  0.816497
min     4.00000  1.000000
25%     6.00000  2.000000
50%     6.50000  2.500000
75%     8.50000  3.000000
max    10.00000  3.000000

In [45]:
# Câu 2.4: Tạo dataframe df2 từ df, chỉ chứa 2 cột là name và score, và chỉ có các dòng 1, 3, 5
# Tạo df2 từ df
df2 = df[['name', 'score']].iloc[[1, 3, 5]]

# In nội dung của dataframe df4
print(df2)

      name  score
b     Dima    9.0
d    James   10.0
f  Michael    4.0

In [46]:
# Câu 2.5: Từ dataframe df, in các dòng có dữ liệu score bị null
df_null_scores = df[df['score'].isnull()]
print(df_null_scores)

Empty DataFrame
Columns: [name, score, attempts, qualify]
Index: []

In [47]:
# Câu 2.6: Từ dataframe df, in các dòng có score > 5 và <=9
df_filter_score = df[(df['score'] > 5) & (df['score'] <= 9)]
print(df_filter_score)

        name  score  attempts qualify
a  Anastasia    6.0         1     yes
b       Dima    9.0         3      no
c  Katherine    7.0         2     yes
e      Emily    6.0         2      no

In [48]:
# Câu 2.7: Cập nhật điểm (score) ở Dataframe df ở dòng 'e' thành 9
df.loc['e', 'score'] = 9
print(df)

        name  score  attempts qualify
a  Anastasia    6.0         1     yes
b       Dima    9.0         3      no
c  Katherine    7.0         2     yes
d      James   10.0         3      no
e      Emily    9.0         2      no
f    Michael    4.0         3     yes

In [49]:
# Câu 2.8: Cho biết điểm (score) nào có tần suất xuất hiện nhiều nhất trong df, và in ra những dòng có điểm là tần suất xuất hiện nhiều nhất 
score_counts = df['score'].value_counts()
max_score = score_counts.idxmax()
print("Điểm có tần suất xuất hiện nhiều nhất: ", max_score)
df_most_frequent = df[df['score'] == max_score]
print("Các dòng có điểm là tần suất xuất hiện nhiều nhất:")
print(df_most_frequent)

Điểm có tần suất xuất hiện nhiều nhất:  9.0
Các dòng có điểm là tần suất xuất hiện nhiều nhất:
    name  score  attempts qualify
b   Dima    9.0         3      no
e  Emily    9.0         2      no

In [50]:
# Câu 2.9: Thêm dòng l có nội dung như sau: ['Janny', 4, 2, 'yes'] vào df. 
df.loc['l'] = ['Janny', 4, 2, 'yes']
# Hiển thị 5 dòng cuối cùng (tail) của df2.
df2_tail = df2.tail(5)
print(df2_tail)

      name  score
b     Dima    9.0
d    James   10.0
f  Michael    4.0

In [53]:
# Câu 2.10: Sắp xếp df tăng dần theo điểm (score)
df_sorted = df.sort_values('score')
print(df_sorted)

        name  score  attempts qualify
f    Michael    4.0         3     yes
l      Janny    4.0         2     yes
a  Anastasia    6.0         1     yes
c  Katherine    7.0         2     yes
b       Dima    9.0         3      no
e      Emily    9.0         2      no
d      James   10.0         3      no

In [54]:
# Câu 2.11: Dựa vào dữ liệu của cột'score' của df,thêm cột results với giá trị như sau: nếu SV có điểm >=5 thì "Đạt" và 
# nếu SV có điểm <5 thì "Không đạt"
df['results'] = df['score'].apply(lambda x: 'Đạt' if x >= 5 else 'Không đạt')
# In nội dung của dataframe df
print(df)

        name  score  attempts qualify    results
a  Anastasia    6.0         1     yes        Đạt
b       Dima    9.0         3      no        Đạt
c  Katherine    7.0         2     yes        Đạt
d      James   10.0         3      no        Đạt
e      Emily    9.0         2      no        Đạt
f    Michael    4.0         3     yes  Không đạt
l      Janny    4.0         2     yes  Không đạt